.nav-aware {
    padding-top: 70px;
}

footer {
    margin: 50px 0;
}

h1 {
    font-size: 32px;
}

.loading {
    background: none;
}

.progress {
    width: 350px;
    margin: auto;
}

.progress-bar { transition: width 5s ease-in-out; }
.progress-psichomics { transition: width 20s ease-in-out; }
.progress-cTRAP { transition: width 15s ease-in-out; }
