<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en"> 

    <style> </style>

    </head>

<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top w3-black" th:fragment="navbar" id="navbar" style="background-color: black; color: white;">

           <script type="text/javascript" src="../assets/scripts.js"></script>

        <div class="w3-bar" id="myNavbar" >
            <a class="w3-bar-item w3-button w3-hover-black w3-hide-large w3-right"
                href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
                <i class="fa fa-bars"></i>
            </a>
             <a class="w3-bar-item w3-button w3-left"
                th:href="@{/}"  title="Home" > <i class="fa fa-house"></i> </a> 
            <a th:href="@{mailto:imm-nmorais@medicina.ulisboa.pt?subject={subject}{name}(subject='NMorais app server',name=${appTitle} ? (${' - ' + appTitle}) : '')}" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-right" target="_blank"><i class="fa fa-envelope"></i> Suggestions / Report Issue </a>
            <a href="https://github.com/nuno-agostinho/compbio-app-server" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-right" target="_blank"><i class="fa fa-github"></i> GitHub </a>
        </div>


        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-hide w3-hide-large ">
            <a href="https://github.com/nuno-agostinho/compbio-app-server" class="w3-bar-item w3-button w3-right " onclick="toggleFunction()" target="_blank"> <i class="fa fa-github"></i>  GitHub</a>

            <a th:href="@{mailto:nunoagostinho@medicina.ulisboa.pt?subject={subject}{name}(subject='NMorais app server',name=${appTitle} ? (${' - ' + appTitle}) : '')}" class="w3-bar-item w3-button w3-right" onclick="toggleFunction()" target="_blank"> <i class="fa fa-envelope"></i> Suggestions / Report Issue </a>
 

        </div>
    </div>
 



     

</body>

</html>
