<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
	<title th:text="${appTitle}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" media="screen" th:href="@{${bootstrapCss}}" />
	<link rel="stylesheet" media="screen" th:href="@{/css/default.css}"/>
	<link rel="stylesheet" media="screen" th:href="@{/assets/ncol.css}"/>
	
	<script th:src="@{${jqueryJs}}"></script>
	<script th:src="@{${bootstrapJs}}"></script>
</head>
<body>
	<div th:replace="navbar :: navbar"></div>
	
    <iframe id="shinyframe" th:src="${container}" width="100%" frameBorder="0"></iframe>
    <div class="loading">
        <div class="loading-txt">
            Launching <span th:text="${appTitle}"></span>...
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" th:classappend="${'progress-' + appTitle}"></div>
        </div>
    </div>
    
	<script type="text/javascript" th:inline="javascript">
		function setShinyframeHeight() {
			$('#shinyframe').css('height', ($(window).height())+'px');
		}
		window.addEventListener("load", setShinyframeHeight);
		window.addEventListener("resize",  setShinyframeHeight);
		
		$(window).on('load', function() {
			var source = $("#shinyframe").attr("src");
			if (source == "") {
				$(".loading").show();
				
				setTimeout(function() {
                    $('.progress-bar').css('width', '100%');
                }, 1);
				
				$.post(window.location.pathname + window.location.search, function(response) {
					$("#shinyframe").attr("src", response.containerPath);
					$(".loading").fadeOut("slow");
				}).fail(function(request) {
					var newDoc = document.open("text/html", "replace");
					newDoc.write(request.responseText);
					newDoc.close();
				});
			}
		});
	</script>
</body>
</html>
